.box{
    height:300px;
    width:400px;
    background-color: green;
    border: 6px solid black;
    margin:auto;
}
h2{

    color:yellow;
}
h5{
    color:red;
}
p,#es{
    color:white;
}
.but{
    text-align: center;
    margin-top: 10%;
}
#es{
    margin-top: 8%;
}